.row{
    height: auto !important;
}

.input{
    width: 100% !important;
    font-size: 15px !important;
    margin-top:2px !important;
    border: 1px solid rgb(141, 141, 141);
}

.cell{
    padding: 10px !important;
    height: auto !important;
    background-color: rgb(255, 255, 255) !important;


}

.imgWrap{
    max-width: 100% !important;
    max-height: 100px !important;

}

.img{
    width: 100% !important;
    height: 100% !important;

}

.button{
    margin: 20px auto 20px auto !important;
}